<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		
		<%= stylesheet_link_tag 'yui-grids', 'yui-base', 'app' %>
		<% html_top.each do |item| %><%= item %><% end %>
		
	 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	 	<title>Raven:<%= @documents ? " #{@response.response[:numFound]} items found" : @document[:collection_title_s] %></title>
 		
		<style type="text/css">
   
			body{
				color:#333;
				font-family:palatino, times, times new roman;
				line-height:1.5em;
				text-align:left;
				background-color:black;
			}

			a{
				color:#159;
			}

			em{
				background-color:yellow;
			}


			/* re-usable classes */

			div.container {
				overflow: auto;
				width: 100%;
				display:block;
			}

			div.left {
				width: 50%;
				float: left;
			}

			div.right {
				width: 49%;
				float: right;
			}

			.leftImage{
				float:left;
				margin-right:1em;
			}

			.rightImage{
				float:right;
				margin-left:1em;
			}

			.photo{
				border:solid 1px #CDCDCD;
			}

			/* main layout elements */
			#header, #footer{
				background-color:#068;
				padding:1em;
				color:#efefef;
			}
				#header a, #footer a{
					color:white;
				}

			#page{
				margin:1em 0;
				width:900px;
				margin:0 auto;
				border:solid 1px #068;
				background-color:white;
			}

			div#search>.left, div#search>.right{
				padding:1em;
			}

			/* specific elements */
			div#search div.left{
				width:25%;
			}
			div#search div.right{
				width:68%;
			}

			#q{
	
			}
			#searchButton{
				width:5em;
				margin-left:1.5em;
			}
			#searchForm{
				margin-bottom:1em;
			}

			/* in index/search view */
			.document{
				margin:1em 0;
				border:solid 1px gray;
				padding:1em;
			}

			.pagination{
				margin-bottom:1em;
			}

			.documentDetails .right{
				width:67%;
			}
			.documentDetails .left{
				width:30%;
				background-color:lightgray;
				padding:.5em;
			}
			.documentDetails .left ul{
				margin:0
			}
			.documentDetails .left ul li{
				list-style:none;
			}

			.documentBody{
				max-height:500px;
				overflow:auto;
			}

			.highlight { background-color: yellow }

		</style>
 	
	</head>
  
	<body>

		<div id="page">
			<div id="header">
				<div class="container">
					<div class="left">
						<%= link_to_unless_current 'Raven', documents_path %>
					</div>
					<div class="right">
						... a text indexing, searching, displaying fool of an application.
					</div>
				</div>
			</div>
			<div id="content"><%= yield %></div>
			<div id="footer">...</div>
		</div>
	</body>
  
</html>

<%= javascript_include_tag 'jquery', 'app' %>
<% html_bottom.each do |item| %><%= item %><% end %>