<% html_bottom << capture do %>
	
	<%= javascript_include_tag 'highlight.jquery.js', 'ajax-form.jquery.js' %>
	
	<script type="text/javascript">
		$(function(){
			$('#sectionSelect').change(function(){
				window.location = $(this).val();
			});
			
			<%
			rules = /[\w\s.0-9_-]+/
			if params[:q] =~ rules %>
				$('.documentBody').highlight("<%= params[:q].scan(rules).first %>")
			<% end %>
			
			//
			
			<% if params[:q] %>
			$('#collectionSearch').ajaxSubmit(function(data){
				$('#searchResults').html(data);
			})
			<% end %>
			
			$('#collectionSearch').ajaxForm(function(data){
				$('#searchResults').html(data);
			})
			
		});
	</script>
<% end %>

<%
navigation = @document.navigation
pages_nav = @document.target_navigation
poems_nav = navigation.children.detect{|c|c.label=='Poems'}
%>

<div class="container documentDetails">
	
	<div class="left toc">
		
		<h3>browse this collection:</h3>
		
		<select id="sectionSelect">
			<% poems_nav.children.each do |node| %>
				<% doc_node = node.children.first %>
				<option value="<%= document_path(doc_node.object[:id], :q=>params[:q]) %>" <%= 'selected="selected"' if node == pages_nav %>"><%= h node.label %></option>
	      <% end %>
	    </select>
		
		<h3>search this collection:</h3>
		<% form_tag collection_search_documents_path, {:method=>:get, :id=>'collectionSearch'} do %>
			<% facet_fields.each do |ff| %>
				<%= hidden_field_tag "f[#{ff}][]", @document[ff] %>
			<% end %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag 'search' %>
		<% end %>
		
		<div id="searchResults"></div>
		
	</div>
	
	<div class="right">
		
		
		<hr/>
		
		<% if pages_nav %>
			<% pages_nav.children.each do |item| %>
				<strong><%= link_to_unless_current item.label, document_path(item.object[:id], :q=>params[:q]) %></strong> | 
			<% end %>
		<% end %>
		
		<hr/>
		
		<div class="documentBody">
			<%= @document[:xml_s] %>
		</div>
		
	</div>
</div>