<% html_bottom << capture do %>
	
	<%= javascript_include_tag 'highlight.jquery.js', 'ajax-form.jquery.js' %>
	
	<script type="text/javascript">
		$(function(){
			$('#sectionSelect').change(function(){
				window.location = $(this).val();
			});
			
			<%
			rules = /[\w\s.0-9_-]+/
			if params[:q] =~ rules %>
				$('.documentBody').highlight("<%= params[:q].scan(rules).first %>")
			<% end %>
			
			//
			
			<% if params[:q] %>
			$('#collectionSearch').ajaxSubmit(function(data){
				$('#searchResults').html(data);
			})
			<% end %>
			
			$('#collectionSearch').ajaxForm(function(data){
				$('#searchResults').html(data);
			})
			
		});
	</script>
<% end %>

<%
# this needs to go into a helper method...
navigation = MaterializedPath.set_to_composite(@navigation.docs, :field=>:path_s)
# this could go into the MaterializedPath object...
target = navigation.last[:children].detect do |c|
	c[:children].detect do |c|
		c[:item][:id]==params[:id]
	end
end
%>

<div class="container documentDetails">
	
	<div class="left toc">
		
		<h3>browse this collection:</h3>
		
		<select id="sectionSelect">
			<% navigation.last[:children].each do |node| %>
				<% doc_node = node[:children].first %>
				<option value="<%= document_path(doc_node[:item][:id], :q=>params[:q]) %>" <%= 'selected="selected"' if node == target %>"><%= h node[:label] %></option>
	      <% end %>
	    </select>
		
		<h3>search this collection:</h3>
		<% form_tag collection_search_documents_path, {:method=>:get, :id=>'collectionSearch'} do %>
			<% facet_fields.each do |ff| %>
				<%= hidden_field_tag "f[#{ff}][]", @document[ff] %>
			<% end %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag 'search' %>
		<% end %>
		
		<div id="searchResults"></div>
		
	</div>
	
	<div class="right">
		
		
		<hr/>
		
		<% if target %>
			<% target[:children].each do |item| %>
				<strong><%= link_to_unless_current item[:label], document_path(item[:item][:id], :q=>params[:q]) %></strong> | 
			<% end %>
		<% end %>
		
		<hr/>
		
		<div class="documentBody">
			<% cache do %>
				<%= @document[:xml_s] %>
			<% end %>
		</div>
		
	</div>
</div>